/* Normalize */
@use "functions" as *;

html {
	font-size: 100%;
	scroll-behavior: smooth;
}

body {
	position: relative;
	font-family: var(--ff-1);
	font-size: var(--p);
	font-weight: 400;
	line-height: 1.5;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

form {
	margin: 0;
}
