/* Button Style */
@use "../global" as *;
.btn {
	--bs-btn-padding-x: 1.25rem;
	--bs-btn-padding-y: 0.5rem;
	--bs-btn-border-radius: 0.35rem;
	display: inline-flex;
	gap: 0.5rem;
	flex-shrink: 0;
	font-family: var(--ff-2);
	border: 1px solid var(--bs-dark);
	box-shadow: 0.25rem 0.25rem 0 var(--bs-dark);
	&:hover {
		border-color: var(--bs-dark);
		box-shadow: 0 0 0 var(--bs-dark);
	}
	&.btn-icon {
		align-items: center;
		justify-content: center;
		&:not(.btn-xsm) {
			&:not(.btn-sm) {
				&:not(.btn-lg) {
					--bs-btn-padding-x: calc(0.5rem + 1px);
					--bs-btn-padding-y: calc(0.5rem + 1px);
					--bs-btn-font-size: 1.5rem;
				}
			}
		}
	}
	&-skew {
		transform: skew(-21deg);
		& > * {
			transform: skew(21deg);
		}
	}
	&-shadow {
		box-shadow: rem(2.5) rem(2.5) 0 var(--bs-dark);
		&:hover {
			box-shadow: 0 0 0 var(--bs-dark);
		}
	}
}
.btn-primary {
	--bs-btn-color: var(--bs-light);
	--bs-btn-bg: var(--bs-primary);
	--bs-btn-border-color: var(--bs-primary);

	--bs-btn-hover-color: var(--bs-light);
	--bs-btn-hover-bg: color-mix(in srgb, var(--bs-primary) 95%, black);

	--bs-btn-active-color: var(--bs-light);
	--bs-btn-active-bg: var(--bs-primary);
	--bs-btn-active-border-color: var(--bs-primary);
	--bs-btn-disabled-color: var(--bs-light);
	--bs-btn-disabled-bg: var(--bs-primary);
	--bs-btn-disabled-border-color: var(--bs-primary);
}
.btn-secondary {
	--bs-btn-color: var(--bs-dark);
	--bs-btn-bg: var(--bs-secondary);
	--bs-btn-border-color: var(--bs-secondary);

	--bs-btn-hover-color: var(--bs-dark);
	--bs-btn-hover-bg: color-mix(in srgb, var(--bs-secondary) 95%, black);

	--bs-btn-active-color: var(--bs-dark);
	--bs-btn-active-bg: var(--bs-secondary);
	--bs-btn-active-border-color: var(--bs-secondary);
	--bs-btn-disabled-color: var(--bs-dark);
	--bs-btn-disabled-bg: var(--bs-secondary);
	--bs-btn-disabled-border-color: var(--bs-secondary);
}
.btn-success {
	--bs-btn-color: var(--bs-light);
	--bs-btn-bg: var(--bs-success);
	--bs-btn-border-color: var(--bs-success);

	--bs-btn-hover-color: var(--bs-light);
	--bs-btn-hover-bg: color-mix(in srgb, var(--bs-success) 95%, black);

	--bs-btn-active-color: var(--bs-light);
	--bs-btn-active-bg: var(--bs-success);
	--bs-btn-active-border-color: var(--bs-success);
	--bs-btn-disabled-color: var(--bs-light);
	--bs-btn-disabled-bg: var(--bs-success);
	--bs-btn-disabled-border-color: var(--bs-success);
}
.btn-danger {
	--bs-btn-color: var(--bs-light);
	--bs-btn-bg: var(--bs-danger);
	--bs-btn-border-color: var(--bs-danger);

	--bs-btn-hover-color: var(--bs-light);
	--bs-btn-hover-bg: color-mix(in srgb, var(--bs-danger) 95%, black);

	--bs-btn-active-color: var(--bs-light);
	--bs-btn-active-bg: var(--bs-danger);
	--bs-btn-active-border-color: var(--bs-danger);
	--bs-btn-disabled-color: var(--bs-light);
	--bs-btn-disabled-bg: var(--bs-danger);
	--bs-btn-disabled-border-color: var(--bs-danger);
}
.btn-info {
	--bs-btn-color: var(--bs-light);
	--bs-btn-bg: var(--bs-info);
	--bs-btn-border-color: var(--bs-info);

	--bs-btn-hover-color: var(--bs-light);
	--bs-btn-hover-bg: color-mix(in srgb, var(--bs-info) 95%, black);

	--bs-btn-active-color: var(--bs-light);
	--bs-btn-active-bg: var(--bs-info);
	--bs-btn-active-border-color: var(--bs-info);
	--bs-btn-disabled-color: var(--bs-light);
	--bs-btn-disabled-bg: var(--bs-info);
	--bs-btn-disabled-border-color: var(--bs-info);
}
.btn-light {
	--bs-btn-color: var(--bs-dark);
	--bs-btn-bg: var(--bs-light);
	--bs-btn-border-color: var(--bs-light);

	--bs-btn-hover-color: var(--bs-dark);
	--bs-btn-hover-bg: color-mix(in srgb, var(--bs-light) 95%, black);

	--bs-btn-active-color: var(--bs-dark);
	--bs-btn-active-bg: var(--bs-light);
	--bs-btn-active-border-color: var(--bs-light);
	--bs-btn-disabled-color: var(--bs-dark);
	--bs-btn-disabled-bg: var(--bs-light);
	--bs-btn-disabled-border-color: var(--bs-light);
}
.btn-dark {
	--bs-btn-color: var(--bs-light);
	--bs-btn-bg: var(--bs-dark);
	--bs-btn-border-color: var(--bs-dark);

	--bs-btn-hover-color: var(--bs-light);
	--bs-btn-hover-bg: color-mix(in srgb, var(--bs-dark) 95%, black);

	--bs-btn-active-color: var(--bs-light);
	--bs-btn-active-bg: var(--bs-dark);
	--bs-btn-active-border-color: var(--bs-dark);
	--bs-btn-disabled-color: var(--bs-light);
	--bs-btn-disabled-bg: var(--bs-dark);
	--bs-btn-disabled-border-color: var(--bs-dark);
}
.btn-xsm {
	--bs-btn-padding-x: 0.5rem;
	--bs-btn-padding-y: 0.25rem;
	--bs-btn-border-radius: 0.25rem;
	--bs-btn-font-size: 0.75rem;
	line-height: 1.167;
	&.btn-icon {
		--bs-btn-padding-x: calc(0.25rem + 1px);
		--bs-btn-padding-y: calc(0.25rem + 1px);
		align-items: center;
		justify-content: center;
	}
}
.btn-sm {
	--bs-btn-padding-x: 1rem;
	--bs-btn-padding-y: 0.25rem;
	--bs-btn-border-radius: 0.25rem;
	line-height: 1.715;
	&.btn-icon {
		--bs-btn-padding-x: 0.5rem;
		--bs-btn-padding-y: 0.5rem;
		align-items: center;
		justify-content: center;
	}
}
.btn-lg {
	--bs-btn-padding-x: 1.5rem;
	--bs-btn-padding-y: 0.5rem;
	--bs-btn-border-radius: 0.25rem;
	&.btn-icon {
		--bs-btn-padding-x: calc(0.5rem + 1px);
		--bs-btn-padding-y: calc(0.5rem + 1px);
		--bs-btn-font-size: 1.75rem;
		align-items: center;
		justify-content: center;
	}
}
.btn-primary-subtle {
	--bs-btn-font-weight: 400;
	--bs-btn-color: var(--bs-primary-text-emphasis);
	--bs-btn-bg: var(--bs-primary-bg-subtle);
	--bs-btn-border-color: var(--bs-primary-border-subtle);

	--bs-btn-hover-color: var(--bs-white);
	--bs-btn-hover-bg: rgba(var(--bs-primary-rgb), 1);
	--bs-btn-hover-border-color: rgba(var(--bs-primary-rgb), 1);

	--bs-btn-focus-shadow-rgb: var(--bs-primary-rgb);

	--bs-btn-active-color: var(--bs-white);
	--bs-btn-active-bg: rgba(var(--bs-primary-rgb), 1);
	--bs-btn-active-border-color: rgba(var(--bs-primary-rgb), 1);
}
.btn-secondary-subtle {
	--bs-btn-font-weight: 400;
	--bs-btn-color: var(--bs-secondary-text-emphasis);
	--bs-btn-bg: var(--bs-secondary-bg-subtle);
	--bs-btn-border-color: var(--bs-secondary-border-subtle);

	--bs-btn-hover-color: rgba(var(--bs-dark-rgb), 1);
	--bs-btn-hover-bg: rgba(var(--bs-secondary-rgb), 1);
	--bs-btn-hover-border-color: rgba(var(--bs-secondary-rgb), 1);

	--bs-btn-focus-shadow-rgb: var(--bs-secondary-rgb);

	--bs-btn-active-color: var(--bs-white);
	--bs-btn-active-bg: rgba(var(--bs-secondary-rgb), 1);
	--bs-btn-active-border-color: rgba(var(--bs-secondary-rgb), 1);
}
.btn-success-subtle {
	--bs-btn-font-weight: 400;
	--bs-btn-color: var(--bs-success-text-emphasis);
	--bs-btn-bg: var(--bs-success-bg-subtle);
	--bs-btn-border-color: var(--bs-success-border-subtle);

	--bs-btn-hover-color: var(--bs-white);
	--bs-btn-hover-bg: rgba(var(--bs-success-rgb), 1);
	--bs-btn-hover-border-color: rgba(var(--bs-success-rgb), 1);

	--bs-btn-focus-shadow-rgb: var(--bs-success-rgb);

	--bs-btn-active-color: var(--bs-white);
	--bs-btn-active-bg: rgba(var(--bs-success-rgb), 1);
	--bs-btn-active-border-color: rgba(var(--bs-success-rgb), 1);
}
.btn-danger-subtle {
	--bs-btn-font-weight: 400;
	--bs-btn-color: var(--bs-danger-text-emphasis);
	--bs-btn-bg: var(--bs-danger-bg-subtle);
	--bs-btn-border-color: var(--bs-danger-border-subtle);

	--bs-btn-hover-color: var(--bs-white);
	--bs-btn-hover-bg: rgba(var(--bs-danger-rgb), 1);
	--bs-btn-hover-border-color: rgba(var(--bs-danger-rgb), 1);

	--bs-btn-focus-shadow-rgb: var(--bs-danger-rgb);

	--bs-btn-active-color: var(--bs-white);
	--bs-btn-active-bg: rgba(var(--bs-danger-rgb), 1);
	--bs-btn-active-border-color: rgba(var(--bs-danger-rgb), 1);
}
.btn-warning-subtle {
	--bs-btn-font-weight: 400;
	--bs-btn-color: var(--bs-warning-text-emphasis);
	--bs-btn-bg: var(--bs-warning-bg-subtle);
	--bs-btn-border-color: var(--bs-warning-border-subtle);

	--bs-btn-hover-color: var(--bs-white);
	--bs-btn-hover-bg: rgba(var(--bs-warning-rgb), 1);
	--bs-btn-hover-border-color: rgba(var(--bs-warning-rgb), 1);

	--bs-btn-focus-shadow-rgb: var(--bs-warning-rgb);

	--bs-btn-active-color: var(--bs-white);
	--bs-btn-active-bg: rgba(var(--bs-warning-rgb), 1);
	--bs-btn-active-border-color: rgba(var(--bs-warning-rgb), 1);
}
.btn-info-subtle {
	--bs-btn-font-weight: 400;
	--bs-btn-color: var(--bs-info-text-emphasis);
	--bs-btn-bg: var(--bs-info-bg-subtle);
	--bs-btn-border-color: var(--bs-info-border-subtle);

	--bs-btn-hover-color: var(--bs-black);
	--bs-btn-hover-bg: rgba(var(--bs-info-rgb), 1);
	--bs-btn-hover-border-color: rgba(var(--bs-info-rgb), 1);

	--bs-btn-focus-shadow-rgb: var(--bs-info-rgb);

	--bs-btn-active-color: var(--bs-black);
	--bs-btn-active-bg: rgba(var(--bs-info-rgb), 1);
	--bs-btn-active-border-color: rgba(var(--bs-info-rgb), 1);
}
.btn-light-subtle {
	--bs-btn-font-weight: 400;
	--bs-btn-color: var(--bs-light-text-emphasis);
	--bs-btn-bg: var(--bs-light-bg-subtle);
	--bs-btn-border-color: var(--bs-light-border-subtle);

	--bs-btn-hover-color: var(--bs-dark);
	--bs-btn-hover-bg: rgba(var(--bs-light-rgb), 1);
	--bs-btn-hover-border-color: rgba(var(--bs-light-rgb), 1);

	--bs-btn-focus-shadow-rgb: var(--bs-light-rgb);

	--bs-btn-active-color: var(--bs-dark);
	--bs-btn-active-bg: rgba(var(--bs-light-rgb), 1);
	--bs-btn-active-border-color: rgba(var(--bs-light-rgb), 1);
}
.btn-dark-subtle {
	--bs-btn-font-weight: 400;
	--bs-btn-color: var(--bs-dark-text-emphasis);
	--bs-btn-bg: var(--bs-dark-bg-subtle);
	--bs-btn-border-color: var(--bs-dark-border-subtle);

	--bs-btn-hover-color: var(--bs-white);
	--bs-btn-hover-bg: rgba(var(--bs-dark-rgb), 1);
	--bs-btn-hover-border-color: rgba(var(--bs-dark-rgb), 1);

	--bs-btn-focus-shadow-rgb: var(--bs-dark-rgb);

	--bs-btn-active-color: var(--bs-white);
	--bs-btn-active-bg: rgba(var(--bs-dark-rgb), 1);
	--bs-btn-active-border-color: rgba(var(--bs-dark-rgb), 1);
}
.btn-primary-emphasis {
	--bs-btn-font-weight: 400;
	--bs-btn-color: var(--bs-primary-bg-subtle);
	--bs-btn-bg: var(--bs-primary-text-emphasis);
	--bs-btn-border-color: var(--bs-primary-text-emphasis);

	--bs-btn-hover-color: var(--bs-white);
	--bs-btn-hover-bg: rgba(var(--bs-primary-rgb), 1);
	--bs-btn-hover-border-color: rgba(var(--bs-primary-rgb), 1);

	--bs-btn-focus-shadow-rgb: var(--bs-primary-rgb);

	--bs-btn-active-color: var(--bs-white);
	--bs-btn-active-bg: rgba(var(--bs-primary-rgb), 1);
	--bs-btn-active-border-color: rgba(var(--bs-primary-rgb), 1);
}
.btn-secondary-emphasis {
	--bs-btn-font-weight: 400;
	--bs-btn-color: var(--bs-secondary-bg-subtle);
	--bs-btn-bg: var(--bs-secondary-text-emphasis);
	--bs-btn-border-color: var(--bs-secondary-text-emphasis);

	--bs-btn-hover-color: rgba(var(--bs-dark-rgb), 1);
	--bs-btn-hover-bg: rgba(var(--bs-secondary-rgb), 1);
	--bs-btn-hover-border-color: rgba(var(--bs-secondary-rgb), 1);

	--bs-btn-focus-shadow-rgb: var(--bs-secondary-rgb);

	--bs-btn-active-color: var(--bs-white);
	--bs-btn-active-bg: rgba(var(--bs-secondary-rgb), 1);
	--bs-btn-active-border-color: rgba(var(--bs-secondary-rgb), 1);
}
.btn-success-emphasis {
	--bs-btn-font-weight: 400;
	--bs-btn-color: var(--bs-success-bg-subtle);
	--bs-btn-bg: var(--bs-success-text-emphasis);
	--bs-btn-border-color: var(--bs-success-text-emphasis);

	--bs-btn-hover-color: var(--bs-white);
	--bs-btn-hover-bg: rgba(var(--bs-success-rgb), 1);
	--bs-btn-hover-border-color: rgba(var(--bs-success-rgb), 1);

	--bs-btn-focus-shadow-rgb: var(--bs-success-rgb);

	--bs-btn-active-color: var(--bs-white);
	--bs-btn-active-bg: rgba(var(--bs-success-rgb), 1);
	--bs-btn-active-border-color: rgba(var(--bs-success-rgb), 1);
}
.btn-danger-emphasis {
	--bs-btn-font-weight: 400;
	--bs-btn-color: var(--bs-danger-bg-subtle);
	--bs-btn-bg: var(--bs-danger-text-emphasis);
	--bs-btn-border-color: var(--bs-danger-text-emphasis);

	--bs-btn-hover-color: var(--bs-white);
	--bs-btn-hover-bg: rgba(var(--bs-danger-rgb), 1);
	--bs-btn-hover-border-color: rgba(var(--bs-danger-rgb), 1);

	--bs-btn-focus-shadow-rgb: var(--bs-danger-rgb);

	--bs-btn-active-color: var(--bs-white);
	--bs-btn-active-bg: rgba(var(--bs-danger-rgb), 1);
	--bs-btn-active-border-color: rgba(var(--bs-danger-rgb), 1);
}
.btn-warning-emphasis {
	--bs-btn-font-weight: 400;
	--bs-btn-color: var(--bs-warning-bg-subtle);
	--bs-btn-bg: var(--bs-warning-text-emphasis);
	--bs-btn-border-color: var(--bs-warning-text-emphasis);

	--bs-btn-hover-color: var(--bs-white);
	--bs-btn-hover-bg: rgba(var(--bs-warning-rgb), 1);
	--bs-btn-hover-border-color: rgba(var(--bs-warning-rgb), 1);

	--bs-btn-focus-shadow-rgb: var(--bs-warning-rgb);

	--bs-btn-active-color: var(--bs-white);
	--bs-btn-active-bg: rgba(var(--bs-warning-rgb), 1);
	--bs-btn-active-border-color: rgba(var(--bs-warning-rgb), 1);
}
.btn-info-emphasis {
	--bs-btn-font-weight: 400;
	--bs-btn-color: var(--bs-info-bg-subtle);
	--bs-btn-bg: var(--bs-info-text-emphasis);
	--bs-btn-border-color: var(--bs-info-text-emphasis);

	--bs-btn-hover-color: var(--bs-black);
	--bs-btn-hover-bg: rgba(var(--bs-info-rgb), 1);
	--bs-btn-hover-border-color: rgba(var(--bs-info-rgb), 1);

	--bs-btn-focus-shadow-rgb: var(--bs-info-rgb);

	--bs-btn-active-color: var(--bs-black);
	--bs-btn-active-bg: rgba(var(--bs-info-rgb), 1);
	--bs-btn-active-border-color: rgba(var(--bs-info-rgb), 1);
}
.btn-light-emphasis {
	--bs-btn-font-weight: 400;
	--bs-btn-color: var(--bs-light-bg-subtle);
	--bs-btn-bg: var(--bs-light-text-emphasis);
	--bs-btn-border-color: var(--bs-light-text-emphasis);

	--bs-btn-hover-color: var(--bs-dark);
	--bs-btn-hover-bg: rgba(var(--bs-light-rgb), 1);
	--bs-btn-hover-border-color: rgba(var(--bs-light-rgb), 1);

	--bs-btn-focus-shadow-rgb: var(--bs-light-rgb);

	--bs-btn-active-color: var(--bs-dark);
	--bs-btn-active-bg: rgba(var(--bs-light-rgb), 1);
	--bs-btn-active-border-color: rgba(var(--bs-light-rgb), 1);
}
.btn-dark-emphasis {
	--bs-btn-font-weight: 400;
	--bs-btn-color: var(--bs-dark-bg-subtle);
	--bs-btn-bg: var(--bs-dark-text-emphasis);
	--bs-btn-border-color: var(--bs-dark-text-emphasis);

	--bs-btn-hover-color: var(--bs-white);
	--bs-btn-hover-bg: rgba(var(--bs-dark-rgb), 1);
	--bs-btn-hover-border-color: rgba(var(--bs-dark-rgb), 1);

	--bs-btn-focus-shadow-rgb: var(--bs-dark-rgb);

	--bs-btn-active-color: var(--bs-white);
	--bs-btn-active-bg: rgba(var(--bs-dark-rgb), 1);
	--bs-btn-active-border-color: rgba(var(--bs-dark-rgb), 1);
}
.btn-outline-primary {
	--bs-btn-hover-color: var(--bs-primary-text-emphasis);
	--bs-btn-hover-bg: var(--bs-primary-bg-subtle);
	--bs-btn-hover-border-color: var(--bs-primary-border-subtle);
	--bs-btn-active-color: var(--bs-primary-text-emphasis);
	--bs-btn-active-bg: var(--bs-primary-bg-subtle);
	--bs-btn-active-border-color: var(--bs-primary-border-subtle);
}
.btn-outline-secondary {
	--bs-btn-hover-color: var(--bs-secondary-text-emphasis);
	--bs-btn-hover-bg: var(--bs-secondary-bg-subtle);
	--bs-btn-hover-border-color: var(--bs-secondary-border-subtle);
	--bs-btn-active-color: var(--bs-secondary-text-emphasis);
	--bs-btn-active-bg: var(--bs-secondary-bg-subtle);
	--bs-btn-active-border-color: var(--bs-secondary-border-subtle);
}
.btn-outline-success {
	--bs-btn-hover-color: var(--bs-success-text-emphasis);
	--bs-btn-hover-bg: var(--bs-success-bg-subtle);
	--bs-btn-hover-border-color: var(--bs-success-border-subtle);
	--bs-btn-active-color: var(--bs-success-text-emphasis);
	--bs-btn-active-bg: var(--bs-success-bg-subtle);
	--bs-btn-active-border-color: var(--bs-success-border-subtle);
}
.btn-outline-danger {
	--bs-btn-hover-color: var(--bs-danger-text-emphasis);
	--bs-btn-hover-bg: var(--bs-danger-bg-subtle);
	--bs-btn-hover-border-color: var(--bs-danger-border-subtle);
	--bs-btn-active-color: var(--bs-danger-text-emphasis);
	--bs-btn-active-bg: var(--bs-danger-bg-subtle);
	--bs-btn-active-border-color: var(--bs-danger-border-subtle);
}
.btn-outline-warning {
	--bs-btn-hover-color: var(--bs-warning-text-emphasis);
	--bs-btn-hover-bg: var(--bs-warning-bg-subtle);
	--bs-btn-hover-border-color: var(--bs-warning-border-subtle);
	--bs-btn-active-color: var(--bs-warning-text-emphasis);
	--bs-btn-active-bg: var(--bs-warning-bg-subtle);
	--bs-btn-active-border-color: var(--bs-warning-border-subtle);
}
.btn-outline-info {
	--bs-btn-hover-color: var(--bs-info-text-emphasis);
	--bs-btn-hover-bg: var(--bs-info-bg-subtle);
	--bs-btn-hover-border-color: var(--bs-info-border-subtle);
	--bs-btn-active-color: var(--bs-info-text-emphasis);
	--bs-btn-active-bg: var(--bs-info-bg-subtle);
	--bs-btn-active-border-color: var(--bs-info-border-subtle);
}
.btn-outline-light {
	--bs-btn-hover-color: var(--bs-light-text-emphasis);
	--bs-btn-hover-bg: var(--bs-light-bg-subtle);
	--bs-btn-hover-border-color: var(--bs-light-border-subtle);
	--bs-btn-active-color: var(--bs-light-text-emphasis);
	--bs-btn-active-bg: var(--bs-light-bg-subtle);
	--bs-btn-active-border-color: var(--bs-light-border-subtle);
}
.btn-outline-dark {
	--bs-btn-hover-color: var(--bs-dark-text-emphasis);
	--bs-btn-hover-bg: var(--bs-dark-bg-subtle);
	--bs-btn-hover-border-color: var(--bs-dark-border-subtle);
	--bs-btn-active-color: var(--bs-dark-text-emphasis);
	--bs-btn-active-bg: var(--bs-dark-bg-subtle);
	--bs-btn-active-border-color: var(--bs-dark-border-subtle);
}
.btn-play {
	border: none;
	padding: 0;
	background-color: transparent;
	&::after {
		content: "";
		position: absolute;
		inset: 0;
		animation: pulse 1s linear infinite;
		background-color: var(--bs-primary);
		border-radius: 50%;
		z-index: -1;
	}
}
