/*Shadow Sharp*/
.shadow-sharp-xs {
	box-shadow: 2px 2px 0 var(--bs-dark);
}
.shadow-sharp {
	box-shadow: 0.25rem 0.25rem 0 var(--bs-dark);
}
.shadow-sharp-md {
	box-shadow: 0.5rem 0.5rem 0 var(--bs-dark);
}
.shadow-sharp-lg {
	box-shadow: 0.75rem 0.75rem 0 var(--bs-dark);
}
.shadow-sharp-xl {
	box-shadow: 1rem 1rem 0 var(--bs-dark);
}
