/* Tooltip Style */
.tooltip-modifier {
	--bs-tooltip-border-radius: 0.25rem;
	--bs-tooltip-font-size: 0.875rem;
	--bs-tooltip-opacity: 1;
	--bs-tooltip-bg: var(--bs-primary-bg-subtle);
	--bs-tooltip-color: var(--bs-priamry-text-emphasis);
}
