@forward "about-section-1";
@forward "banner";
@forward "barometer-section";
@forward "container";
@forward "cta-1";
@forward "cta-2";
@forward "faq-section-1";
@forward "faq-section-2";
@forward "footer-1";
@forward "header";
@forward "hero-1";
@forward "hero-2";
@forward "hero-3";
@forward "how-to-buy-section-1";
@forward "how-to-buy-section-2";
@forward "road-map-section-1";
@forward "road-map-section-2";
@forward "road-map-section-3";
@forward "section-space";
@forward "tokenomics-section-1";
