<div class="banner bg-danger-emphasis">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2 class="h1 text-primary-subtle">
					{{#if bannerTitle}} {{bannerTitle}} {{/if}}
				</h2>
				<nav>
					<ol class="breadcrumb breadcrumb-modifier">
						<li class="breadcrumb-item">
							<a href="#" class="link fs-14 text-secondary"> Home </a>
						</li>
						<li class="breadcrumb-item active fs-14">
							{{#if currentPage}} {{currentPage}} {{/if}}
						</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
	<img
		src="{{root}}assets/img/shape/hero-bg-2.png"
		alt="image"
		class="img-fluid w-100 position-absolute start-0 bottom-0 z-n1 pointer-none opacity-50"
	/>
</div>
