<!DOCTYPE html>
<html lang="en" data-bs-theme="light" {{#if dataTheme}} data-theme="{{dataTheme}}" {{/if}}>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Memeworld: A feature-rich HTML template for memecoin, crypto, and ICO projects. Modern design, responsive layout, and ready for Crypto Project">
    <meta name="keywords" content="memecoin, crypto, ico, html template, themeforest, meme coin, cryptocurrency, blockchain, token, landing page, web3, nft, decentralized, finance, investment">
    <meta name="author" content="bplugins">
    <title>{{title}}</title>
    <link rel="icon" href="{{root}}assets/img/favicon.png" type="image/png">
    <link rel="stylesheet" href="{{root}}assets/css/bootstrap.css">
    <link rel="stylesheet" href="{{root}}assets/css/bootstrap-icons.css">
    <link rel="stylesheet" href="{{root}}assets/css/simplebar.css">
    <link rel="stylesheet" href="{{root}}assets/css/swiper-bundle.css">
    <link rel="stylesheet" href="{{root}}assets/css/ff-1.css">
    <link rel="stylesheet" href="{{root}}assets/css/ff-2.css">
    <link rel="stylesheet" href="{{root}}assets/css/style.css">
</head>

<body {{#if bodyClass}} class="{{bodyClass}}" {{/if}}>
    {{> "preloader"}}
    
    {{#if navbar}}
    {{> "header"}}
    {{/if}}

    <div id="smooth-wrapper">
        <div id="smooth-content">
            {{> body}}
        </div>
    </div>
    <!-- Scripts -->
    <script src="{{root}}assets/js/supabase.js"></script>
    <script src="{{root}}assets/js/bootstrap.bundle.js"></script>
    <script src="{{root}}assets/js/iconify.js"></script>
    <script src="{{root}}assets/js/simplebar.js"></script>
    <script src="{{root}}assets/js/gsap.min.js"></script>
    <script src="{{root}}assets/js/ScrollSmoother.min.js"></script>
    <script src="{{root}}assets/js/ScrollTrigger.min.js"></script>
    <script src="{{root}}assets/js/ScrollToPlugin.min.js"></script>
    <script src="{{root}}assets/js/SplitText.min.js"></script>
    <script src="{{root}}assets/js/Flip.min.js"></script>
    <script src="{{root}}assets/js/app.js"></script>
    <!-- Version: 2.0.1 - Compact UI with API data only -->
</body>

</html>